* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*parent*/
header {
    display: flex;
    flex-direction: row;
}

/*Header children */
.site-title.pm {
    background-color: rgb(255, 245, 84);
    flex: 1;  /*equivalent to 50%, when it is shared with nav sibling, also of flex 1*/
    flex-direction: row;

}

nav {
    background-color: rgb(245, 194, 204);
   
    flex: 1;
  


}

nav ul {
    display: flex;
}

nav li {
    flex:1; /*equivalent to 33% because there are 3 of them*/
    
}

ul {
    list-style-type: none;
}

/*parent of all main content*/
main {
    display: flex;
    width: 100%;

}

section {   /*Huom!*/
    flex: 3;
}

/* main direct children */

.post-title {
    /*sibling to section-post-container*/
background-color: rgb(112, 136, 149);
    width: 100%;

}

.section-post-container {
    display: flex;

}


/*children to section-post-container*/

.post-meta.pm {
    background-color: rgb(166, 236, 155);
    flex: 1;
    height: 300px;
}

.main-content-container {
    background-color: rgb(213, 227, 236);
    flex: 3;
flex-direction:column;
}

/*children of main-content-container*/

.main-content.pm {
    display: flex;
    background-color: rgb(211, 211, 211);
    flex: 1;


}

.main-content-img.pm {
    background-color: rgb(255, 254, 84);
    flex: 2;

}

/*parent*/
aside {
    display: flex;
    flex-direction: column;
    flex: 1;
 
}

/* aside children: */

.side-bar.pm {
    background-color: rgb(240, 168, 59);
    flex: 1;

}

.ads.pm {
    background-color: rgb(53, 121, 33);
    flex: 1;
}

.other-stuff.pm {
    background-color: rgb(224, 136, 233);
    flex: 1;
}


footer {
    background-color: rgb(153, 53, 48);
    display: block;
    height: 70px;

}



.pm {
    border: 1px solid white;
    min-height: 100px;    /* set minimum height for all elements of the class*/
}