body {
    padding: 60px 60px;
    background-color: blanchedalmond;
}

h2 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


table,
td {
    border: 2px solid coral;
    border-collapse: collapse;
    padding: 15px;
    background-color: azure;
}

table {
    margin: 10px;
}

thead{
    background-color: bisque;
    font-weight: bold;
}

td {
    width: 300px;
}

.center {
    text-align: center;
    background-color:cadetblue;
    font-weight: 800;
}